<div class="container-fluid mt-4">
    <h2>Search Repository</h2>
    <div class="input-group w-50 mt-3">
        <input type="search" class="form-control rounded" placeholder="Enter repository name" aria-label="Search"
          aria-describedby="search-addon" [(ngModel)]='repoName' name="repoName" (keyup)='searchByRepo' />
      </div>
      <div class="list">
          <hr class="mb-0">
          <div class="my-0">
              gh
          </div>
          <hr class="mt-0">
      </div>
</div>

