<div class="container-fluid h-50 w-75 mx-auto mt-5">
    <div class="content d-flex justify-content-center align-items-center">
        <img src="../../../assets/Group 1.svg" alt="" class="me-3">
        <div class="accent"> . <br>. <br> . <br> . <br> . <br>. <br> . <br> . <br>
            . <br>. <br> . <br> . <br>. <br>. <br> . <br> . <br>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center ms-3">
            <p>Use GitSearch to find users and their repositories</p>
            <button class="btn btn-primary mb-3">SEARCH USER</button>
            <button class="btn btn-primary">SEARCH REPOSITORY</button>
        </div>
    </div>
</div>
