* {
  font-family: "Poppins", sans-serif;
}

.accent {
  height: 80%;
  width: 1px;
  border: 1px solid #3d4851;
  color: #25333d;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
  color: white;
}
