/* You can add global styles to this file, and also import other style files */
body{
    background-color: #25333D;
}

/* styling fot inputs in search repo and github users components */
input{
    outline-style: solid;
    outline-color:#6EDAA1;
    background-color: #3A454E;
    color: white;
    border: none;
}

input:focus{
    background-color: #3A454E;
    outline-style: solid;
    outline-color:#6EDAA1 !important;
    border: none;
}

input::placeholder{
    color:white
}

